@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, sans-serif;
  height: 100vh;
  background-image: radial-gradient(ellipse, #385300, #212900);
}

#root {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  all: unset;
}

.card {
  background-color: #bef277;
  width: 476px;
  height: 615px;
  border-radius: 12px;
  box-shadow: 0 25px 121px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .4s;
}

.card--limit {
  background-color: #a3d11b;
}

.title {
  text-transform: uppercase;
  text-align: center;
  line-height: .9;
  width: 200px;
  font-weight: 500;
  font-size: 32px;
  margin-top: 60px;
  opacity: .6;
  letter-spacing: 1px;
}

.count {
  color: #1d2507;
  font-size: 200px;
  font-weight: 600;
  margin-top: 10px;
}

.reset-btn {
  opacity: .6;
  cursor: pointer;
  transition: all .4s;
}

.reset-btn:hover {
  opacity: .5;
}

.reset-btn-icon {
  color: #1d2507;
  height: 40px;
  width: 40px;

}

.button-container {
  display: flex;
  margin-top: auto;
  height: 116px;
  background-color: #1d2507;
  width: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.count-btn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .4s;
}

.count-btn:first-child {
  border-right: 1px solid #5b6b2e;
}

.count-btn:hover {
  background-color: #212b06;
}

.count-btn-icon {
  color: #bef277;
  height: 40px;
  width: 40px;
  opacity: .9;
}
